<div class="progress cyan lighten-3" *ngIf="loading" style="margin:-0.1px !important">
  <div class="indeterminate cyan"></div>
</div>
<div class="container">
  <div class="row">
    <br>
    <div class="col s12 m8 offset-m2 l8 offset-l2 xl8 offset-xl2 card" [@shake]="animationTrigger" (@shake.done)="reinitAnimation()">
      <div class="row">
        <div class="center-text">
          <i class="material-icons blue-text lighten-1" (click)="back()" style="cursor: pointer">arrow_back</i>
        </div>
        <br>
        <div class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1">
          <span class="card-title blue-text lighten-1">Registrate</span>
        </div>
      </div>
      <div class="row">
        <div class="divider"></div>
      </div>
      <div class="row">
        <form [formGroup]="userData" (ngSubmit)="signup()" class="col s10 offset-s1 m10 offset-m1 l10 offset-l1 xl10 offset-xl1 container">
          <div class="row">
            <a [routerLink]="['/dev','entra']">¿Ya tienes cuenta?</a>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6 xl6">
              <input (focus)="del('name')" [ngClass]="{ 'valid' : (name.valid && name.dirty),'invalid' : (name.invalid && name.dirty)||(response && response.message.name)}" type="text"  id="name" maxlength="60" required formControlName="name" formControlName="name">
              <label for="name">Nombre</label>
              <span class="helper-text red-text text-darken-1" *ngIf="response && response.message.name">{{response.message.name}}</span>
            </div>
            <div class="input-field col s12 m6 l6 xl6">
              <input (focus)="del('last_name')" [ngClass]="{ 'valid' : (last_name.valid && last_name.dirty),'invalid' : (last_name.invalid && last_name.dirty)||(response && response.message.last_name)}" type="text" id="last_name"  maxlength="60" required formControlName="last_name">
              <label for="last_name">Apellido(s)</label>
              <span class="helper-text red-text text-darken-1" *ngIf="response && response.message.last_name">{{response.message.last_name}}</span>
            </div>
            <div class="input-field col s12">
              <input (focus)="del('nick_name')" [ngClass]="{ 'valid' : (nick_name.valid && nick_name.dirty),'invalid' : (nick_name.invalid && nick_name.dirty)||(response && response.message.nick_name)}" type="text"  id="user_name" maxlength="27" required formControlName="nick_name">
              <label for="user_name">Nombre de Usuario</label>
              <span class="helper-text red-text text-darken-1" *ngIf="response && response.message.nick_name">{{response.message.nick_name}}</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input (focus)="del('email')" [ngClass]="{ 'valid' : (email.valid && email.dirty),'invalid' : (email.invalid && email.dirty)||(response && response.message.email)}" type="email"  id="email" maxlength="320" required formControlName="email">
              <label for="email">Correo electrónico</label>
              <span class="helper-text red-text text-darken-1" *ngIf="response && response.message.email">{{response.message.email}}</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12 xl12">
              <input (focus)="del('password')" [ngClass]="{ 'valid' : (password.valid && password.dirty),'invalid' : (password.invalid && password.dirty)||(response && response.message.password)}" type="password"  id="password" maxlength="26" required formControlName="password">
              <label for="password">Contraseña</label>
              <span class="helper-text red-text text-darken-1" *ngIf="response && response.message.password">{{response.message.password}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m5 l6 xl6">
              <input (focus)="del('birth_date')" [ngClass]="{ 'valid' : (birth_date.valid && birth_date.dirty),'invalid' : (birth_date.invalid && birth_date.dirty)||(response && response.message.birth_date)}" type="date" id="birth_date" max="2000-12-31" min="1920-01-01" required formControlName="birth_date">
              <p><label for="birth_date">Fecha de Nacimiento</label></p>
              <p><span class="helper-text red-text text-darken-1" *ngIf="response && response.message.birth_date">{{response.message.birth_date}}</span></p>
            </div>
            <div class="input-field col s12 m6 l6 xl6">
              <select [ngClass]="{ 'valid' : (place.valid && place.dirty),'invalid' : (place.invalid && place.dirty)||(response && response.message.place)}" name="place" id="place"  required formControlName="place">
                  <option value="" disabled selected>Escoge tu País</option>
                  <option *ngFor="let place of places" value="{{place.abbr}}">{{place.name}}</option>
              </select>
              <label for="place">País</label>
              <span class="helper-text red-text text-darken-1" *ngIf="response && response.message.place">{{response.message.place}}</span>
            </div>
            <div class="col s12">
              <p>
                <label>
                  <input name="genre" type="radio" class="with-gap" value="Mujer" checked required formControlName="genre">
                  <span>Mujer</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="genre" type="radio" class="with-gap" value="Hombre" required formControlName="genre">
                  <span>Hombre</span>
                </label>
              </p>
              <span class="helper-text red-text text-darken-1" *ngIf="response && response.message.genre">{{response.message.genre}}</span>
            </div>
          </div>
          <div class="row">
            <p>
              <label>
                <input type="checkbox" required formControlName="accept">
                <span>He leído y acepto las <a target="_blank" href="/undevin/docs/AvisoDePrivacidad.pdf">Politicas de Privacidad</a></span>
              </label>
            </p>
          </div>
          <div class="row right-align">
            <button class="btn light-blue lighten-2 waves-effect waves-light" type="submit" [disabled]="!userData.value.accept || userData.invalid" >Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
