<div class="container">
  <div class="row">
    <div class="col s12">
      <h3 class="blue-text center-align">Instrucciones</h3>
    </div>
    <div class="col s12">
      <h5>
        En esta sección puedes navegar dejando el cursor sobre el icono de menu de la izquierda y te aparecerán las opciones. Para entrar el diagnostico haz clicl en el icono de conversación, chat o como le quiera llamar. <br>
        Una vez iniciado el diagnóstico no debes salir de esa sección. <br>
        Para empezar el diagnostico envia un mensaje de saludo, preferentemente un "Hola". <br>
        Toma el diagnóstico con seriedad, ya que si no das respuestas claras no se te serán respondidas. <br>
        Cuando termines el diagnóstico puedes ir a ver los resultados. <br>
        Los resultados no son finales, sólo te sirven como guia y para que de te des cuenta de algunas características de tus respuestas. <br>
      </h5>
      <br>

      <div class="section">
          <div class="row">
            <div class="col s12 m6 l6 xl6 center-align hoverable">
              <i class="material-icons large blue-text text-lighten-2">assignment</i>
              <h6 class="blue-grey-text text-darken-1">Diagnóstico</h6>
              <div class="divider"></div>
              <p class="blue-grey-text text-darken-3 text-justify">
                En el diagnóstico se te preguntará sobre sintomas que podrían indicar la presencia de fobia a conducir.
              </p>
            </div>
            <div class="col s12 m6 l6 xl6 center-align hoverable">
              <i class="material-icons large blue-text text-lighten-2">insert_chart</i>
              <h6 class="blue-grey-text text-darken-1">Resultados</h6>
              <div class="divider"></div>
              <p class="blue-grey-text text-darken-3 text-justify">
                Ve los resultados despues de haber acabado el diagnostico.
              </p>
              <p class="blue-grey-text text-darken-3 text-justify">
                En los resultados veras cuando empezaste el diagnostico, cuanto duro y algunos datos sobre tus respuestas que podrían ser de importancia.
              </p>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
      