.chat-container{
    height: 100%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.trick{
    transform: rotate(180deg);
}

.trick > div {
    transform: rotate(180deg);
}

.message{
    padding: 0.5rem !important;
    border: none !important;
    background: #ececec !important;
    border-radius: 10px !important;
}

.message-custom{
    text-overflow: clip;
    padding: 0.8rem !important;
    border: none !important;
    background: #eceff1;
    border-radius: 10px !important;
}

.mine{
    text-align: end;
}