<div class="parallax-container">
  <div class="parallax"><img src="assets/fahrer_primer.jpg" alt=""></div>
</div>
<div class="row container">
  <div class="section">
    <h3 class="blue-text text-darken-1">Hablemos sobre Fahrer y Realidad Virtual</h3>
    <article class="blue-grey-text text-darken-3">La simulación que hace la realidad virtual se puede referir a escenas virtuales, creando un mundo virtual que sólo existe en el ordenador de lugares u objetos que existen en la realidad. También permite capturar la voluntad implícita del usuario en sus movimientos naturales proyectándolos en el mundo virtual que estamos generando, proyectando en el mundo virtual movimientos reales.</article>
    <h5 class="blue-text text-darken-1">Bonita definición, pero, ¿Qué Significa?</h5>
    <article class="blue-grey-text text-darken-3">
      Como viste la Realidad Virtual es la simulacion de un mundo, ejecutado en una computadora en el cual vas a poder interactuar. Primero es importante entender que todas las asombrosas peliculas con efectos especiales, si, esa en la que pensaste, los graficos de un videojuego y así como muchos ejemplos más están hechos por computadora, por lo que, como te lo puedes estar imaginando, las posibilidades de hacer posible ese mundo que algún día soñaste y cualquier otra cosa imposibles en la realidad como la conocemos se hacen realidad en una computadora.
    </article>
    <article class="blue-grey-text text-darken-3">
      Ahora bien, esta en una computadora, pero ¿Cómo puedes entrar a ese mundo fantástico? Existen muchas tecnologias con las que se puede implementar la realidad virtual, ya sea a tráves de visores en los cuales tienes que poner tu telefono inteligente o con dispositivos mucho más sofisticados. Para poder interactuar con este mundo será necesario necesario tener controles, con los cuales se capten tus movimientos en la realidad y los veas reflejados en la simulación.
    </article>
    <article class="blue-grey-text text-darken-3">
      Tal vez suene algo dificil, pero el simple hecho de pensar en tener al alcance una tecnologia en la que hace 100 años sería imposible de imaginar hace que valga bastante la pena, y no sólo por eso, sino tambien por la grandiosa experiencia.
    </article>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="assets/fahrer_segundo.jpeg" alt=""></div>
</div>
<div class="row container">
  <div class="section">
    <h5 class="blue-text text-darken-1">La Realidad Virtual no es Solo entretenimiento</h5>
    <article class="blue-grey-text text-darken-3">
      Hasta el momento solo halbamos de la Realidad Virtual y sus usos en cosas como el entretenimiento, o al menos eso es lo primero que se me viene a la mente cuando alguien habla sobre el tema, sin embargo no es asi.
    </article>
  </div>
</div>
